@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

* {
    font-family: 'NanumSquareNeo';
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #000;
}

html.dark {
    background-color: #000;
    color: var(--primary-color);
}

button.dark {
    backdrop-filter: invert(100%);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.hide {
    width: 1px;
    height: 1px;
    position: absolute;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0,0 0,0 0);
}

.button {
    padding: 15px 10px;
    border-radius: 25px;
}

.blackCircle {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.blackCircle:hover {
    background-color: #555;
}

.normalTxt {
    font-size: 1rem;
    font-weight: normal;
}

.wrap {
    display: block;
    width: 100%;
    /* border: 1px solid #222; */
}

.wrapper {
    max-width: 1712px;
    margin: auto;
}

.container {
    position: relative;
    margin-bottom: 210px;
}

.container .titleBox .titleArticle {
    font-size: 50px;
    font-weight: normal;
    position: relative;
    margin-bottom: 78px;
    line-height: 78px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.container .titleBox .titleArticle::before {
    content: '';
    width: 78px; height: 78px;
    background-position: center;
    background-size: cover;
}

.keyword {
    color: #777;
}

/* header --------------------------------------------------------- */

.header {
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 0 calc(calc(100% - 1727px) /2 );
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    transition: border-bottom 0.3s;
}

.header.scrolled {
    border-bottom: 1px solid #eee;
}

.header .logo {
    background-image: url(../images/Kakao_image/kakaoLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 74px;
    height: 24px;
    display: block;
    outline: 0;
}

.header .nav {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.header .nav .mainMenu {
    display: flex;
}

.header .nav .mainMenu > li {
    position: relative;
}

.header .nav .mainMenu > li a {
    line-height: 90px;
    font-size: 17px;
    position: relative;
    padding: 0 40px;
    color: var(--primary-color);
    text-decoration: none;
}

.header .nav .mainMenu > li:last-child a.arrow::after {
    content: "↗️";
    font-size: .9rem;
}

.header .nav .mainMenu:hover > li a:not(:hover) {
    color: #888;
}

.header .nav .mainMenu > li:hover .menuTitle {
    color: var(--primary-color) !important;
}

.header .nav .mainMenu li a:hover {
    color: var(--primary-color);
}

.header .nav .mainMenu li:hover .subMenu,
.header .nav .mainMenu li:active .subMenu,
.header .nav .mainMenu li:focus .subMenu
{
    display: block;
}

.subActive {
    display: block !important;
}

.header .nav .mainMenu li .subMenu {
    display: none;
    background-color: var(--primary-color);
    position: absolute;
    top: 80%; 
    padding: 15px 10px;
    border-radius: 25px;
    z-index: 5;
    white-space: nowrap;
}

.header .nav .mainMenu li .subMenu li {
    margin: 0 10px;
    display: inline-block;
}

.header .nav .mainMenu li .subMenu a {
    line-height: 20px;
    display: block;
    color: var(--secondary-color);
    padding: 0;
}

.header .nav .subMenu a:hover {
    font-weight: bold;
}

.header .nav .mainMenu:hover .subMenu li a:not(:hover) {
    color: var(--secondary-color);
}

.header .util button {
    margin: 0 5px;
    width: 35px; height: 35px;
    border-radius: 50%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.header .util button:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* mainBox --------------------------------------------------------- */

.main {
    margin: 90px auto 0;
}

.main .section1 .mainBox {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
}

.main .section1 .mainBox .visualBox {
    display: block;
    position: relative;
    /* overflow-x: hidden; */
    padding: 0;
}

.main .section1 .mainBox .visualBox .mainVideo {
    border-radius: 36px;
    max-height: 809px;
}

.main .section1 .mainBox .visualBox .kakaoMore {
    position: absolute;
    right: 0; top: 0;
    z-index: 99;
} 

.main .section1 .mainBox .visualBox .kakaoMore:hover .button {
    display: block;
}

.main .section1 .mainBox .visualBox .kakaoMore .button{
    background-color: var(--primary-color);
    width: 180px;
    text-align: center;
    color: var(--secondary-color);
    padding: 15px 10px;
    border-radius: 20px;
    position: absolute;
    top: -50px;
    display: none;
}

.main .section1 .mainBox .visualBox .kakaoMore .button::after {
    content: '';
    background-image: url(../images/Kakao_image/kakaoSpeechBubble.svg);
    background-size: contain;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 95%; left: 20px;
    width: 12px; height: 12px;
}

.main .section1 .mainBox .visualBox .kakaoMore button {
    width: 148px; 
    height: 102px;
    background: url(../images/Kakao_image/light.gif) center no-repeat ;
    background-size: contain;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 0 0 0 25px;
    padding: 2px 27px 11px;
    cursor: pointer;
}

.main .section1 article .mainBox .visualBox .kakaoMore::before {
    width: 38px; height: 38px;
    content: "";
    position: absolute;
    top: -2px; left: -36px;
    background-image: url(../images/Kakao_image/kakaoRoundTop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main .section1 article .mainBox .visualBox .kakaoMore::after {
    width: 38px; height: 38px;
    content: "";
    position: absolute;
    top: 100px; right: -2px;
    background-image: url(../images/Kakao_image/kakaoRoundTop.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main .section1 article .mainBox .visualBox .mainMore {
    position: absolute;
    bottom: 0; left: 0;
    z-index: 5;
} 

.main .section1 article .mainBox .visualBox .mainMore button {
    width: 300px; 
    height: 102px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 0 25px 0 0;
    padding: 2px 27px 11px;
    font-size: 1.3rem;
    cursor: pointer;
}

.main .section1 article .mainBox .visualBox .mainMore::before {
    width: 38px; height: 38px;
    content: "";
    position: absolute;
    top: -36px; left: -2px;
    background-image: url(../images/Kakao_image/kakaoRoundBottom.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.main .section1 article .mainBox .visualBox .mainMore::after {
    width: 38px; height: 38px;
    content: "";
    position: absolute;
    top: 62px; right: -36px;
    background-image: url(../images/Kakao_image/kakaoRoundBottom.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main .section1 article .mainBox .visualRightBox {
    margin-left: 16px;
}

.visualRight .visualRightList {
    width: 273px;
    border-radius: 25px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.visualSlide {
    display: flex;
    transition: transform 0.3s ease-in-out; /* 부드러운 전환 */
    width: calc(273px * 2);
}

.visualSlide li {
    width: 273px;
    height: 273px; 
}

.circleBtn {
    position: absolute;
    left: 50%; 
    bottom: 25px; 
    transform: translate(-50%, -50%);
    display: flex;
}

.circleBtn div {
    width: 24px; 
    height: 8px; 
    border-radius: 8px;
    background-color: var(--primary-color);
    margin: 0 5px;
    z-index: 999;    
}

.circleBtn div:not(:first-child) {
    width: 8px; 
    border-radius: 8px;
    border: 1px solid #999;
    background-color: var(--secondary-color);
}

.visualRightBox .visualRight .visualRightList1 .donation {
    width: 273px;
    background-color: #fae100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visualRightBox .visualRight .visualRightList1 .donation .donationAmount {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

.visualRightBox .visualRight .visualRightList1 .kakaoimpact a {
    display: inline-block;
    width: 273px;
    height: 273px;
    background-image: url(../images/Kakao_image/impact.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visualRightBox .visualRight .visualRightList2 {
    height: 341px;
    background-color: #f3f3f3;
}

.visualRightBox .visualRight .visualRightList2 .campaign {
    padding: 20px;
}

.visualRightBox .visualRight .visualRightList2 .campaign .theme {
    color: var(--secondary-color);
    font-size: .9rem;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 0;
}

.visualRightBox .visualRight .visualRightList2 .campaign .subjectTitle {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 15px 0 5px 0;
}

.visualRightBox .visualRight .visualRightList3 {
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    width: 285px;
}

.visualRightBox .visualRight .visualRightList3 .bgBox {
    background-color: #fae100;
    width: 300px;
    border-radius: 24px;
}

.visualRightBox .visualRight .visualRightList3 .bgBox div {
    width: 270px;
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visualRightBox .visualRight .visualRightList3 div::after {
    content: '';
    width: 39px; height: 168px;
    position: absolute; right: 0; bottom: -2px;
    background-image: url(../images/Kakao_image/kakaoSpeechBubbleSide.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.visualRightBox .visualRight .visualRightList3 div button {
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, .7);
    padding: 5px; margin: 0 5px;
    width: 2rem; height: 2rem;
    font-weight: bolder;
}

.visualRightBox .visualRight .visualRightList3 p::before {
    position: absolute;
    content: '';
    width: 80px; height: 80px;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Kakao_image/kakaogroup.webp);
}

.visualRightBox .visualRight .visualRightList3 p {
    font-size: 1.3rem;
    display: flex;
    align-self: flex-end;
    padding-bottom: 20px;
}

/* storyBox --------------------------------------------------------- */

.storyBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image/ico_archives.gif);
}

.storyBox .titleBox .titleArticle .pause {
    background-color: var(--primary-color);
    width: 50px; height: 50px;
    border-radius: 50%;
}

.storyBox .storyList,
.newsBox .newsList {
    display: flex;
    max-width: 100%;
}

.storyBox .storyList .wide {
    width: 1370px;
    height: 538px;
    padding: 40px 976px 40px 40px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.storyBox .storyList .wide::after {
    position: absolute;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 956px;
    height: 538px;
    top: 0;
    right: 0;
    border-radius: 0 20px 20px 0;
}

.storyBox .storyList .story1::after {
    background-image: url(../images/Kakao_image/story1.webp);
}
.storyBox .storyList .story6::after {
    background-image: url(../images/Kakao_image/story6.webp);
}

.storyBox .storyList li {
    width: 417px;
    flex-shrink: 0;
    background-color: #eee;
    border-radius: 40px;
    padding:40px;
    margin: 0 10px;
    position: relative;
}

.storyBox .storyList .over {
    display: flex;
    padding-top: 274px;
    flex-direction: column;
}

.storyBox .storyList .storyInfo,
.newsBox .newsList .newsInfo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.storyBox .storyList .storyInfo .storyTheme {
    font-size: .9rem;
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    margin-left: 32px;
}

.storyBox .storyList .storyInfo .storyTheme::before {
    content: '';
    background-image: url(../images/Kakao_image/icon1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px; height: 32px;
    left: -36px; 
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.storyBox .storyList .story2 .storyInfo .storyTheme::before,
.storyBox .storyList .story7 .storyInfo .storyTheme::before
{
    background-image: url(../images/Kakao_image/icon2.webp);
}

.storyBox .storyList .story6 .storyInfo .storyTheme::before
{
    background-image: url(../images/Kakao_image/icon3.webp);
}

.storyBox .storyList .storyInfo .storyMore,
.newsBox .newsList .newsInfo .newsMore {
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.storyBox .storyList .storyInfo .storyMore div,
.newsBox .newsList .newsInfo .newsMore div {
    width: 4px; height: 4px;
    border-radius: 100%;
    background-color: var(--primary-color);
    margin: 4px;
}

.storyBox .storyList h4 {
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 2.3rem;
}

.storyBox .storyList .comment {
    position: relative;
    line-height: 1.6rem;
}

.storyBox .storyList .keyword {
    margin-top: auto;
    font-size: 16px;
}

.storyBox .storyList .under::after {
    position: absolute;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 417px;
    height: 234px;
    bottom: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
}

.storyBox .storyList .story2::after {
    background-image: url(../images/Kakao_image/story2.webp);
}
.storyBox .storyList .story4::after {
    background-image: url(../images/Kakao_image/story4.webp);
}
.storyBox .storyList .story7::after {
    background-image: url(../images/Kakao_image/story7.webp);
}
.storyBox .storyList .story9::after {
    background-image: url(../images/Kakao_image/story9.webp);
}

.storyBox .storyList .over::before {
    position: absolute;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 417px;
    height: 234px;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
}

.storyBox .storyList .story3::before {
    background-image: url(../images/Kakao_image/story3.webp);
}
.storyBox .storyList .story5::before {
    background-image: url(../images/Kakao_image/story5.webp);
}
.storyBox .storyList .story8::before {
    background-image: url(../images/Kakao_image/story8.webp);
}


/* serviceBox --------------------------------------------------------- */

.serviceBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image2/lamp.gif);
}

.serviceBox .serviceGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.serviceBox .serviceGroup > li {
    width: 848px;
    height: 180px;
    border-radius: 20px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px;
}

.serviceBox .serviceGroup  h4 {
    font-size: 28px;
}

.serviceBox .serviceGroup ul {
    display: flex;
    justify-content: flex-end;
    width: 258px;
    gap: 68px;
}

.serviceBox .serviceGroup ul li {
    position: relative;
}

.serviceBox .serviceGroup ul li::after {
    content: '';
    position: absolute;
    width: 54px;
    height: 54px;
    top: 0; left: 0; transform: translate(-50%, -50%);
    background-size: cover;
}

.serviceBox .serviceGroup .comService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoTalk.png);
}

.serviceBox .serviceGroup .comService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/daum.png);
}

.serviceBox .serviceGroup .comService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/kakaoStory.png);
}

.serviceBox .serviceGroup .comService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .busiService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoChannel.png);
}

.serviceBox .serviceGroup .busiService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/kakaoCloud.png);
}

.serviceBox .serviceGroup .busiService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/agit.png);
}

.serviceBox .serviceGroup .busiService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .cateService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoMap.png);
}

.serviceBox .serviceGroup .cateService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/kakaoTaxi.png);
}

.serviceBox .serviceGroup .cateService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/kakaoBank.png);
}

.serviceBox .serviceGroup .cateService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .shopService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoGift.png);
}

.serviceBox .serviceGroup .shopService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/kakaoShopping.png);
}

.serviceBox .serviceGroup .shopService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/zigzeg.png);
}

.serviceBox .serviceGroup .shopService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .enterService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoPage.png);
}

.serviceBox .serviceGroup .enterService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/pickoma.png);
}

.serviceBox .serviceGroup .enterService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/melon.png);
}

.serviceBox .serviceGroup .enterService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .socialService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/withTogeter.png);
}

.serviceBox .serviceGroup .socialService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.fullBtn {
    display: block;
    margin: auto;
    width: 316px;
    border-radius: 36px;
    border: none;
    background-color: #f3f3f3;
    margin-top: 60px;
    font-size: 22px;
    line-height: 76px;
    text-align: center;
}

/* newsBox --------------------------------------------------------- */

.newsBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image2/calendar.gif);
}

.newsBox .newsList {
    display: flex;
    flex-wrap: wrap;
    width: 1712px;
    justify-content: space-between;
}

.newsBox .newsList li {
    flex-shrink: 0;
    background-color: #eee;
    padding: 40px;
    position: relative;
}

.newsBox .newsList .news1,
.newsBox .newsList .news2,
.newsBox .newsList .news3 {
    margin-bottom: 60px; 
    width: 560px;
    border-radius: 40px;
}

.newsBox .newsList .news4,
.newsBox .newsList .news5 {
    width: 848px;
    margin-bottom: 16px;
    border-radius: 18px;
}

.newsBox .newsList .news6,
.newsBox .newsList .news7,
.newsBox .newsList .news8 {
    width: 560px;
    border-radius: 18px;
}

.newsBox .newsList .newsInfo .newsTheme::before {
    content: '';
    background-image: url(../images/Kakao_image2/trumpet.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 46px; height: 46px;
    left: -58px; top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.newsBox .newsList  .newsInfo .newsTheme {
    position: relative;
    color: var(--primary-color);
    font-size: 13px;
    background-color: var(--secondary-color);
    margin-left: 58px;
    padding: 15px 14px;
    border-radius: 7px;
}

.newsBox .newsList .date {
    position: relative;
    margin: auto 0;
    margin-left: 12px;
    font-size: 12px;
}

.newsBox .newsList .news1 h4,
.newsBox .newsList .news2 h4,
.newsBox .newsList .news3 h4  {
    font-size: 30px;
    line-height: 42px;
    height: 210px;
}

.newsBox .newsList .news4 h4,
.newsBox .newsList .news5 h4,
.newsBox .newsList .news6 span:first-child,
.newsBox .newsList .news7 span:first-child,
.newsBox .newsList .news8 span:first-child  {
    font-size: 26px;
    font-weight: bold;
}


.newsBox .newsList .news6 a,
.newsBox .newsList .news7 a,
.newsBox .newsList .news8 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
}

a .blackCircle {
    padding: 0;
    font-size: 12px !important;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    width: 24px; height: 24px;
    margin-left: 8px;
}

.newsBox .newsList .keyword {
    position: relative;
    margin-top: auto;
    font-size: 16px;
    margin-bottom: 309px;
}

.newsBox .newsList .under::after {
    position: absolute;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 560px;
    height: 313px;
    left: 0; bottom: 0;
    border-radius: 0 0 20px 20px;
}

.newsBox .newsList .news1::after {
    background-image: url(../images/Kakao_image2/news1.webp);
}

.newsBox .newsList .news2::after {
    background-image: url(../images/Kakao_image2/news2.webp);
}

.newsBox .newsList .news3::after {
    background-image: url(../images/Kakao_image2/news3.webp);
}


/* esgBox --------------------------------------------------------- */

.esgBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image2/handshake.gif);
}

.esgBox .esgList {
    display: flex;
    justify-content: space-between;
}

.esgBox .esgList li {
    width: 560px;
    position: relative;
}

.esgBox .esgList .esgType {
    width: 282px;
    padding: 2px 2px 16px 16px;
    text-align: center;
    line-height: 58px;
    border-radius: 0 0 0 36px;
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    z-index: 2;
}

.esgBox .esgList .esgType h4 {
    border-radius: 36px;
    outline: 10px solid var(--secondary-color);

}
.esgBox .esgList .esgComment {
    width: 560px;
    height: 668px;
    border-radius: 22px;
    padding:40px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

.esgBox .esgList .esgComment::before {
    content: '';
    width: 26px; height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    top: -2px;
    right: 280px;
}

.esgBox .esgList .esgComment::after {
    content: '';
    width: 26px; height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    right: -2px;
    top: 74px;
}

.esgBox .esgList .esgComment p::before {
    content: '';
    width: 26px; height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    bottom: 76px;
    right: -2px;
    transform: rotate(90deg);
}

.esgBox .esgList .esgComment p::after {
    content: '';
    width: 26px; height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    bottom: -2px;
    right: 76px;
    transform: rotate(90deg);
}

.esgBox .esgList li .esgComment p {
    font-size: 24px;
    margin-bottom: 6px;
}

.esgBox .esgList .esg1 h4, 
.esgBox .esgList .esg1 .esgComment {
    background-color: #89dcff;
}

.esgBox .esgList .esg1 .esgComment {
    background-image: url(../images/Kakao_image2/walkingPeople.gif);
    background-size: 560px;
}

.esgBox .esgList .esg2 h4 {
    background-color: #1ed47e;
}

.esgBox .esgList .esg2 .esgComment {
    background-image: url(../images/Kakao_image2/forest.gif);
    background-size: 360px;
}

.esgBox .esgList .esg2 .esgComment {
    background-color: #03502b;
}

.esgBox .esgList .esg3 h4 {
    background-color: #fae100;
}

.esgBox .esgList .esg3 .esgComment {
    background-image: url(../images/Kakao_image2/heartBlock.gif);
    background-size: 360px;
}

.esgBox .esgList .esg3 .esgComment {
    background-color: #333;
}

.esgBox .esgList li .esgComment + div {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 78px;
    height: 78px;
    border-radius: 37px 0;
}

.esgBox .esgList li .blackCircle {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    text-decoration: none;
    width: 64px;
    height: 64px;
    font-size: 20px;
    text-align: center;
    outline: 10px solid var(--secondary-color);
    line-height: 64px;
}

.esgBox .esgList .esg2 .esgComment,
.esgBox .esgList .esg3 .esgComment {
    color:  var(--secondary-color);
}

/* helpBox --------------------------------------------------------- */

.helpBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image3/ico_tit_help.gif);
}

.helpBox .helpBoxTop {
    display: flex;
    flex-wrap: wrap;
    width: 1712px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.helpBox .helpBoxTop div {
    width: 560px;
    flex-shrink: 0;
    border-radius: 36px;
}

.helpBox .helpBoxTop .helpCenter {
    display: flex;
    flex-direction: column;
}

.helpBox .helpBoxTop .helpCenter a {
    padding: 40px;
    background-color: #f3f3f3;
    border-radius: 20px;
    height: 161px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
}

.helpBox .helpBoxTop .helpCenter a:last-child {
    margin-bottom: 0;
}

.helpBox .helpBoxTop .helpCenter a strong,
.helpBox .helpBoxBottom a strong {
    font-size: 26px;
}

.helpBox .helpBoxTop .helpCenter a span {
    display: flex;
    gap: 12px;
    align-items: center;
}

.helpBox .helpBoxTop .helpCenter a span::after
{
    color:  var(--secondary-color);
    content: "↗️";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.helpBox .helpBoxTop .helpCenter a::after {
    content: '';
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    right: 40px;
    top: 30px;
}

.helpBox .helpBoxTop .helpCenter a:first-child::after {
    background-image: url(../images/Kakao_image3/help1.webp);
}
.helpBox .helpBoxTop .helpCenter a:nth-child(2)::after {
    background-image: url(../images/Kakao_image3/help2.webp);
}
.helpBox .helpBoxTop .helpCenter a:nth-child(3)::after {
    background-image: url(../images/Kakao_image3/help3.webp);
}

.helpBox .helpBoxTop .helpSocial {
    width: 560px;
    padding: 40px;
    background-color: #fae100;
    background-image: url(../images/Kakao_image3/img_ryan.png);    background-size: 266px auto;
    background-position: bottom;
    background-repeat: no-repeat;
}

.helpBox .helpBoxTop .helpRecruit {
    width: 560px;
    padding: 40px;
    background-color: #0073ff;
    background-image: url(../images/Kakao_image3/img_recruit.png);
    background-size: 560px auto;
    background-position: bottom;
    background-repeat: no-repeat;
    color:  var(--secondary-color);
}

.helpBox .helpBoxTop .helpSocial  p,
.helpBox .helpBoxTop .helpRecruit  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.helpBox .helpBoxTop .helpSocial p + span {
    display: inline-block;
    margin-bottom: 46px;
}

.helpBox .helpBoxTop .helpSocial .socialList {
    display: flex;
    justify-content: space-between;
}

.helpBox .helpBoxTop .helpSocial .socialList a {
    display: inline-block;
    width: 80px; height: 80px;
    background-size: cover;
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(1) a {
    background-image: url(../images/Kakao_image3/icon_ch.png);
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(2) a {
    background-image: url(../images/Kakao_image3/icon_yt.png);
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(3) a {
    background-image: url(../images/Kakao_image3/icon_insta.png);
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(4) a {
    background-image: url(../images/Kakao_image3/icon_fb.png);
}

.helpBox .helpBoxTop .helpSocial .socialList  li:nth-child(5) a {
    background-image: url(../images/Kakao_image3/icon_li.png);
}

.helpBox .helpBoxTop .helpRecruit a {
    display: flex;
    gap: 12px;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color:  var(--secondary-color);
}

.helpBox .helpBoxTop .helpRecruit a::after {
    color: var(--primary-color);
    content: "↗️";
    width: 24px;
    height: 24px;
    background-color:  var(--secondary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.helpBox .helpBoxTop .helpRecruit a:hover::after {
    background-color: rgba(255, 255, 255, .7);
}

.helpBox .helpBoxBottom {
    display: flex;
    justify-content: space-between;
}

.helpBox .helpBoxBottom a {
    width: 848px;
    padding: 40px;
    background-color: #f3f3f3;
    border-radius: 20px;
    height: 161px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
}

.helpBox .helpBoxBottom a span {
    display: flex;
    gap: 12px;
    align-items: center;
}

.helpBox .helpBoxBottom a span::after
{
    color:  var(--secondary-color);
    content: "↗️";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.helpBox .helpBoxBottom a::after {
    content: '';
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    right: 40px;
    top: 30px;
}

.helpBox .helpBoxBottom a:first-child::after {
    background-image: url(../images/Kakao_image3/stock.webp);
}

.helpBox .helpBoxBottom a:last-child::after {
    background-image: url(../images/Kakao_image3/safe.webp);
}

.helpBox .fullBtn {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.helpBox .fullBtn::after
{
    color:  var(--secondary-color);
    content: "→";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.footer {
    border-top: 1px solid #fae100;

}

.footer {
    display: flex;
}

.footer div {
    border: 1px solid var(--primary-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.footer .kakaoGroup {
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
} 

.footer div h3,
.footer div strong {
    line-height: 40px;
    margin-top: auto;
    display: block;
}

.footer div h3 {
    font-size: 26px;
}

.footer div strong {
    font-size: 16px;
}

.footer .kakaoGroup ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.footer a {
    font-size: 12px;
    line-height: 34px;
}


@media screen and (max-width:1024px) {

    .wrap .header {
        width: 100%;
        height: 100vh;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding-top: 24px;
    }

}