@media screen and (max-width: 1200px) {
    .wrap {
        max-width: 712px;
        margin: auto;
    }

    .wrap .header {
        height: 72px;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 25px 0;
    }

    .wrap .header .logo {
        height: 22px;
    }

    .wrap .header .nav {
        display: none;
    }

    .main {
        margin: auto;
    }

    .container {
        margin-bottom: 80px;
    }

    .main .section1 .mainBox {
        display: block;
    }

    .main .section1 .mainBox .visualBox {
        margin-bottom: 20px;
    }

    .main .section1 .mainBox .visualBox .mainVideo {
        width: 712px;
        height: 406px;
        object-fit: fill;
        border-radius: 20px;
    }

    .main .section1 .mainBox .visualBox .kakaoMore {
        width: 208px;
        border-radius: 0 0 0 20px;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: row;
    }

    .main .section1 .mainBox .visualBox .kakaoMore .kakaoMoreBox {
        width: 148px;
        padding: 14px;
        line-height: 14px;
        position: static;
        margin-left: 11px;
        margin-bottom: 11px;
    }

    .main .section1 .mainBox .visualBox .kakaoMore .kakaoMoreBox::after {
        width: 10.5px;
        height: 13px;
        left: auto;
        top: auto;
        bottom: 7px;
        background-image: url(../images/Kakao_image/1024more.svg);
    }

    .main .section1 article .mainBox .visualBox .kakaoMore::before {
        width: 20px;
        height: 20px;
        top: -1px;
        left: -19px;
    }

    .main .section1 article .mainBox .visualBox .kakaoMore::after {
        width: 20px;
        height: 20px;
        top: 52px;
        right: -1px;
    }

    .main .section1 .mainBox .visualBox .kakaoMore button {
        width: 48px;
        height: 48px;
        background-size: cover;
        background-position: center;
    }

    .main .section1 .mainBox .visualBox .mainMore {
        width: 158px;
        height: 54px;
        border-radius: 20px;
        padding: 0;
    }

    .main .section1 article .mainBox .visualBox .mainMore button {
        width: 158px;
        font-size: 14px;
        padding: 0;
        height: 54px;
        border-radius: 0 20px 0 0;
    }

    .main .section1 article .mainBox .visualBox .mainMore .blackCircle {
        width: 24px;
        height: 24px;
        display: inline-block;
        padding: 0;
        line-height: 24px;
        font-size: 14px;
    }

    .main .section1 article .mainBox .visualBox .mainMore::before {
        width: 20px;
        height: 20px;
        top: -19px;
        left: -1px;
    }

    .main .section1 article .mainBox .visualBox .mainMore::after {
        width: 20px;
        height: 20px;
        top: 31px;
        right: -19px;
    }

    .main .section1 article .mainBox .visualRightBox {
        margin-left: 0;
    }

    .main .section1 article .mainBox .visualRightBox .visualRight {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        gap: 8px;
        height: 232px;
    }

    .visualRight .visualRightList {
        width: 232px;
        margin-bottom: 0;
    }

    .circleBtn {
        bottom: 20px;
    }

    .visualRightBox .visualRight .visualRightList1 .donation {
        width: 232px;
        height: 232px;
        font-size: 14px;
    }

    .visualRightBox .visualRight .visualRightList1 .donation .donationAmount {
        font-size: 26px;
    }

    .visualRightBox .visualRight .visualRightList1 .kakaoimpact a {
        width: 232px;
        height: 232px;
    }

    .visualSlide {
        width: 232px;
        height: 232px;
    }

    .visualRightBox .visualRight .visualRightList2 {
        height: 232px;
    }

    .visualRightBox .visualRight .visualRightList2 .campaign .theme {
        font-size: 11px;
    }

    .visualRightBox .visualRight .visualRightList2 .campaign .subjectTitle {
        font-size: 16px;
        line-height: 20px;
    }

    .visualRightBox .visualRight .visualRightList2 .campaign .keywords {
        font-size: 14px;
        color: #666;
    }

    .visualRightBox .visualRight .visualRightList3 {
        width: 232px;
        height: 232px;
        border-radius: 25px;
    }

    .visualRight .visualRightList.visualRightList3 .bgBox li::before { 
        top: 45%;
    }

    .visualRight .visualRightList.visualRightList3 .bgBox li {
        width: 100%;
        height: 232px;
        align-items: flex-end;
        font-size: 15px;
        padding-bottom: 60px;
    }

    .visualRight .visualRightList.visualRightList3::after {
        content: none;
    }

    .visualRight .visualRightList.visualRightList3 .circleBtn3 {
        width: 232px;
        height: 232px;
        
    }

    .container {
        margin-bottom: 86px;
    }

    .container .titleBox .titleArticle {
        gap: 4px;
        font-size: 32px;
        margin-bottom: 12px;
    }

    .container .titleBox .titleArticle::before {
        width: 48px;
        height: 48px;
    }

    .storyBox .titleBox .titleArticle .pause {
        width: 28px;
        height: 28px;
    }

    .storyBox .titleBox .titleArticle .pause::before,
    .storyBox .titleBox .titleArticle .pause::after {
        width: 3px;
        height: 14px;
    }

    .storyBox .storyList li,
    .storyBox .storyList .wide,
    .storyBox .storyList .wide::after,
    .storyBox .storyList .under::after,
    .storyBox .storyList .over::before {
        width: 234px !important;
    }

    .storyBox .storyList .keyword {
        font-size: 12px;
    }

    .storyBox .storyList li {
        height: 327px;
        border-radius: 15px;
        padding: 24px;
        padding-bottom: 130px;
        position: relative;
    }

    .storyBox .storyList .storyInfo .storyTheme {
        font-size: 11px;
        padding: 7px 12px;
    }

    .storyBox .storyList .storyInfo .storyMore div,
    .newsBox .newsList .newsInfo .newsMore div {
        width: 3px;
        height: 3px;
    }

    .storyBox .storyList h4 {
        font-size: 18px;
    }

    .storyBox .storyList .comment {
        display: none;
    }

    .storyBox .storyList .wide {
        height: 327px;
        padding: 24px;
    }

    .storyBox .storyList .wide::after {
        top: auto;
    }

    .storyBox .storyList .wide .keyword,
    .storyBox .storyList .over .keyword {
        margin-top: auto;
        margin-bottom: 130px;
    }

    .storyBox .storyList .under .keyword {
        position: absolute;
        bottom: 0;
        margin-top: auto;
        margin-bottom: 154px;
    }

    .storyBox .storyList .over {
        padding: 24px;
    }

    .storyBox .storyList .over::before {
        content: none;
    }

    .storyBox .storyList .wide::after,
    .storyBox .storyList .under::after,
    .storyBox .storyList .over::after {
        position: absolute;
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 234px;
        height: 130px;
        bottom: 0;
        left: 0;
        border-radius: 0 0 20px 20px;
    }

    .storyBox .storyList .story3::after {
        background-image: url(../images/Kakao_image/story3.webp);
    }
    .storyBox .storyList .story5::after {
        background-image: url(../images/Kakao_image/story5.webp);
    }
    .storyBox .storyList .story8::after {
        background-image: url(../images/Kakao_image/story8.webp);
    }

    .kakaoMoreBox {
        opacity: 1 !important;
    }

    .serviceBox .serviceGroup {
        gap: 8px;
    }

    .serviceBox .serviceGroup > li {
        width: 352px;
        height: 110px;
        border-radius: 10px;
        padding: 48px 24px;
    }

    .serviceBox .serviceGroup h4 {
        font-size: 16px;
    }

    .serviceBox .serviceGroup ul li::after {
        width: 45px;
        height: 45px;
    }

    .serviceBox .serviceGroup ul {
        gap: 53px;
        justify-content: normal;
        width: auto;
    }

    .serviceBox .serviceGroup li:nth-child(3),
    .serviceBox .serviceGroup li:nth-child(3)::after {
        display: none;
    }

    .serviceBox .serviceGroup > li:nth-child(3) {
        display: flex;
    }

    .serviceBox .serviceGroup ul li:last-child {
        margin-right: 24px;
    }

    .fullBtn {
        width: 280px;
        border-radius: 30px;
        margin-top: 24px;
        line-height: 60px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsBox .newsListTop,
    .newsBox .newsListBottom {
        position: relative;

        margin-bottom: 400px;
    }

    .newsBox .newsList .news1,
    .newsBox .newsList .news2,
    .newsBox .newsList .news3 {
        position: absolute;
        width: 352px;
        border-radius: 15px;
        padding: 22px 20px;
    }

    .newsBox .newsList .news1 h4,
    .newsBox .newsList .news2 h4,
    .newsBox .newsList .news3 h4 {
        font-size: 18px;
        height: 84px;
        line-height: 24px;
    }

    .newsBox .newsList .newsInfo .newsTheme::before {
        width: 24px;
        height: 24px;
        left: -30px;
    }

    .newsBox .newsList .newsInfo .newsTheme {
        font-size: 12px;
        padding: 7px 12px;
        margin-left: 30px;
    }

    .newsBox .newsList .under::after {
        width: 352px;
        height: 200px;
        background-size: 352px auto;
    }

    .newsBox .newsList .keyword {
        margin-bottom: 200px;
        font-size: 12px;
    }

    .newsBox .newsListBottom .news4,
    .newsBox .newsListBottom .news5 {
        height: 186px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .newsBox .newsListBottom .news4 .keyword,
    .newsBox .newsListBottom .news5 .keyword {
        display: none;
    }

    .newsBox .newsListBottom .news4::after,
    .newsBox .newsListBottom .news5::after {
        background-image: none;
    }

    .newsBox .newsListTop .circleBtn {
        display: flex;
        position: absolute;
        z-index: 99;
    }

    .newsBox .newsListTop .circleBtn div {
        background-color: #0073ff;
    }

    .news4,
    .news5,
    .news6,
    .news7,
    .news8 {
        display: none;
    }

    .esgBox .esgList {
        width: 711px;
    }

    .esgBox .esgList li {
        width: 231px;
    }

    .esgBox .esgList .esgType {
        width: 137px;
        font-size: 12px;
        line-height: 32px;
        border-radius: 0 0 0 20px;
        padding: 0 0 12px 12px;
    }

    .esgBox .esgList .esgType h4 {
        width: 125px;
        outline: none;
    }

    .esgBox .esgList .esgComment {
        width: 231px;
        height: 341px;
        border-radius: 15px;
    }

    .esgBox .esgList .esgComment::before,
    .esgBox .esgList .esgComment::after,
    .esgBox .esgList .esgComment p::before,
    .esgBox .esgList .esgComment p::after {
        width: 15px;
        height: 15px;
    }

    .esgBox .esgList .esgComment::before {
        top: -1px;
        right: 136px;
    }

    .esgBox .esgList .esgComment::after {
        top: 43px;
        right: -1px;
    }

    .esgBox .esgList .esg1 .esgComment {
        background-size: 231px auto;
        padding: 20px 24px;
    }

    .esgBox .esgList .esg2 .esgComment,
    .esgBox .esgList .esg3 .esgComment {
        background-size: auto 141px;
        padding: 20px 24px;
    }

    .esgBox .esgList li .esgComment + div {
        width: 57px;
        height: 57px;
        border-radius: 25px 0 0 0;
    }

    .esgBox .esgList li .blackCircle {
        width: 48px;
        height: 48px;
        outline: 5px solid var(--secondary-color);
    }

    .esgBox .esgList li .esgComment p {
        font-size: 16px;
        width: 145px;
    }

    .esgBox .esgList .esgComment p::before {
        bottom: 56px;
        right: -1px;
    }

    .esgBox .esgList .esgComment p::after {
        bottom: -1px;
        right: 56px;
    }

    .helpBox .helpBoxTop {
        width: auto;
        margin-bottom: 8px;
    }

    .helpBox .helpBoxTop .helpCenter {
        flex-direction: row;
    }

    .helpBox .helpBoxTop div {
        width: 711px;
        justify-content: space-between;
    }

    .helpBox .helpBoxTop .helpCenter a {
        width: 231px;
        height: 73px;
        padding: 28px 24px;
        border-radius: 15px;
        flex-direction: row;
        justify-content: space-between;
    }

    .helpBox .helpBoxTop .helpCenter a::after {
        content: none;
    }

    .helpBox .helpBoxTop .helpCenter a strong {
        font-size: 17px;
        font-weight: normal;
    }

    .helpBox .helpBoxTop .helpCenter a span {
        font-size: 0;
        color: transparent;
        justify-content: flex-end;
        gap: 0;
    }

    .helpBox .helpBoxTop .helpCenter a span::after {
        font-size: 14px;
    }

    .helpBox .helpBoxTop .helpSocial,
    .helpBox .helpBoxTop .helpRecruit,
    .helpBox .helpBoxBottom a {
        width: 352px;
        height: 184px;
        border-radius: 15px;
        padding: 30px 24px;
    }

    .helpBox .helpBoxTop .helpSocial {
        background-image: none;
    }

    .helpBox .helpBoxTop .helpRecruit {
        background-image: url(../images/Kakao_image3/1024_img_recruit.png);
        background-size: 154px auto;
        background-position: right 16px bottom 16px;
        padding: 30px 24px;
    }

    .helpBox .helpBoxTop .helpSocial p,
    .helpBox .helpBoxTop .helpRecruit p {
        font-size: 17px;
        margin-bottom: 15px;
    }

    .helpBox .helpBoxTop .helpSocial p + span,
    .helpBox .helpBoxTop .helpRecruit a {
        font-size: 15px;
        margin-bottom: 26px;
    }

    .helpBox .helpBoxTop .helpSocial .socialList a {
        width: 56px;
        height: 56px;
    }

    .helpBox .helpBoxBottom a {
        height: 140px;
    }

    .helpBox .helpBoxBottom a strong {
        font-size: 17px;
        max-width: 241px;
    }

    .helpBox .helpBoxBottom a::after {
        width: 62px;
        height: 62px;
        right: 16px;
        top: 70px;
        transform: translateY(-31px);
    }

    .helpBox .helpBoxBottom a span {
        font-size: 14px;
    }

    .footer {
        display: block;
        padding-top: 45px;
        width: 100vw;
    }

    .footer .footerServiceBox {
        display: flex;
        flex-wrap: wrap;
        max-width: 712px;
        margin-bottom: 65px;
    }

    .footer .footerServiceBox div {
        display: block;
        width: 100%;
        flex: auto;
    }

    .footer .footerServiceBox div h3 {
        font-size: 15px;
    }

    .footer .footerServiceBox div strong {
        font-size: 12px;
        border-top: 1px solid #e6e6e6;
        line-height: 52px;
        height: 52px;
        margin-top: 0;
    }

    .footer .footerServiceBox div:last-child strong {
        border-bottom: 1px solid #e6e6e6;
    }

    .footer .footerServiceBox div:first-child ul {
        margin-bottom: 24px;
    }

    .footer .footerServiceBox div:not(:first-child) ul {
        display: none !important;
    }

    .footer .footerRelationBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 74px;
        max-width: 712px;
    }

    .footer .footerRelationBox div {
        width: 356px;
        font-size: 12px;
        line-height: 15px;
        margin: 10px 0;
        position: relative;
        display: flex;
    }

    .footer .footerRelationBox div h3 {
        margin-right: 0;
    }

    .footer .footerRelationBox div:last-child {
        justify-content: end;
        transform: translateY(120px);
    }

    .footer .footerRelationBox div:last-child button {
        width: 298px;
    }

    .footer .footerRelationBox .sub:last-child h3::before {
        transform: translate(194px, -50%) rotate(0deg);
    }

    .footer .footerRelationBox .sub:last-child h3::after {
        transform: translate(194px, -50%) rotate(90deg);
    }
}