@font-face {
    font-family: "NanumSquareNeo";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix)
            format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff)
            format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf)
            format("truetype");
}

* {
    font-family: "NanumSquareNeo";
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #111;
}

html.dark {
    background-color: #000;
    color: var(--primary-color);
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

button.dark {
    backdrop-filter: invert(100%);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.scrollLock {
    overflow: hidden;
}

.hide {
    width: 1px;
    height: 1px;
    position: absolute;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.button {
    padding: 15px 10px;
    border-radius: 25px;
}

.blackCircle {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.blackCircle:hover {
    background-color: #555;
}

.normalTxt {
    font-size: 1rem;
    font-weight: normal;
}

.wrap {
    display: block;
    width: 100%;
}

.container {
    /* 1920px -> 100vw
    1920px : 100vw = 1712px : x 
    x = 100 * 1712 / 1920 = 89.1667vw */
    max-width: 1712px;
    margin: auto;
    position: relative;
    margin-bottom: 210px;
}

.container .storyBox {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.container .titleBox .titleArticle {
    font-size: 50px;
    font-weight: normal;
    position: relative;
    margin-bottom: 78px;
    line-height: 78px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.container .titleBox .titleArticle::before {
    content: "";
    width: 78px;
    height: 78px;
    background-position: center;
    background-size: cover;
}

.keyword {
    color: #777;
}

/* header --------------------------------------------------------- */

.header {
    position: fixed;
    width: clamp(100%, 1712px, 100%);
    height: 85px;
    margin-bottom: 7px;
<<<<<<< HEAD
=======
    padding: 0 calc(calc(100% - 1712px)/2);
>>>>>>> 9386b274f7aba8f30fc881f5379716f4c4cb8f8c
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    transition: border-bottom 0.3s;
}

.header.scrolled {
    border-bottom: 1px solid #eee;
}

.header .logo {
    background-image: url(../images/Kakao_image/kakaoLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5px;
    width: 74px;
    height: 24px;
    display: block;
    outline: 0;
    position: relative;
}

.header .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.header .nav .mainMenu {
    display: flex;
    justify-content: center;
}

.header .nav .mainMenu > li {
    position: relative;
    margin: 40px;
    flex-shrink: 0;
}

.header .nav .mainMenu > li .menuTitle {
    border: none;
    background-color: transparent;
    line-height: 85px;
    font-size: 17px;
    position: relative;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.header .nav .mainMenu > li:last-child .menuTitle.arrow::after {
    content: "↗️";
    font-size: 0.9rem;
}

.header .nav .mainMenu:hover > li .menuTitle:not(:hover) {
    color: #888;
}

.header .nav .mainMenu > li:hover .menuTitle {
    color: var(--primary-color) !important;
}

.header .nav .mainMenu li .menuTitle:hover {
    color: var(--primary-color);
}

.header .nav .mainMenu li:hover .subMenu,
.header .nav .mainMenu li:active .subMenu,
.header .nav .mainMenu li:focus .subMenu {
    display: block;
}

.subActive {
    display: block !important;
}

.header .nav .mainMenu li .subMenu {
    display: none;
    background-color: var(--primary-color);
    position: absolute;
    top: 80%;
    padding: 15px 10px;
    border-radius: 25px;
    z-index: 5;
    white-space: nowrap;
}

.header .nav .mainMenu li .subMenu li {
    margin: 0 10px;
    display: inline-block;
}

.header .nav .mainMenu li .subMenu a {
    line-height: 20px;
    display: block;
    color: var(--secondary-color);
    padding: 0;
    text-decoration: none;
}

.header .nav .subMenu a:hover {
    font-weight: bold;
}

.header .nav .mainMenu:hover .subMenu li a:not(:hover) {
    color: var(--secondary-color);
}

.header .util {
    display: flex;
    align-items: center;
}

.header .util button {
    margin: 0 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.header .util button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header .util .searchBtn {
    background-image: url(../images/Kakao_image/search.svg);
}

.header .util .languageBtn {
    margin-left: 10px;
    background-image: url(../images/Kakao_image/english.svg);
}

.header .util .modeBtn {
    margin-left: 10px;
    background-image: url(../images/Kakao_image/night.svg);
}

.header .util .hamBtn {
    display: none;
    position: relative;
}

.header .util .hamBtn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url(../images/Kakao_image/ham.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.searchBg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}

.searchBox {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 454px;
    width: 100vw;
    background-image: url(../images/Kakao_image/bg_search.png);
    background-color: var(--secondary-color);
    background-position: 80% center;
    background-repeat: no-repeat;
    background-size: auto 178px;
}

.searchBox #searchBar {
    position: relative;
    left: 50%;
    top: calc(454px / 2);
    transform: translate(-50%, -50%);
    border: none;
    background-image: url(../images/Kakao_image/kakaoSearch.svg);
    color: var(--secondary-color);
    width: 823px;
    height: 72px;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    outline: 0;
}

.searchBox #searchBar::placeholder {
    color: var(--secondary-color);
}

.searchBox .searchKeywordBox {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.searchBox .searchKeywordBox .searchKeyword {
    padding: 10px 12px;
    background-color: #eee;
    border-radius: 16px;
    font-size: 12px;
}

.gnbBox {
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-left: calc(-50vw + 50%);
    background-color: #fff;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.gnbBox.close-animation {
    transform: translateX(300%);
}

.gnbBox .gnbWrap {
    width: 412px;
    margin: auto;
    animation: gnbIn .3s ease-out;
}

@keyframes gnbIn {
    from {
        transform: translateX(300%);
    }

    to {
        transform: translateX(0);
    }
}

.gnbBox .gnbWrap .gnbHeader {
    padding: 24px 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.gnbBox .gnbWrap .gnbHeader .closeBtn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../images/Kakao_image/close.svg);
    border: none;
}

.gnbBox .gnbWrap .gnb .gnbList {
    margin-bottom: 246px;
}

.gnbBox .gnbWrap .gnb .gnbList > li button,
.gnbBox .gnbWrap .gnb .gnbList > li > a {
    display: flex;
    line-height: 48px;
    gap: 18px;
    font-size: 33px;
    font-weight: bold;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    color: var(--primary-color);
}

.gnbBox .gnbWrap .gnb .gnbList > li button::before,
.gnbBox .gnbWrap .gnb .gnbList > li > a::before {
    content: "";
    width: 48px;
    height: 48px;
    background-size: cover;
}

.gnbBox .gnbWrap .gnb .gnbList > li:nth-child(1) button::before {
    background-image: url(../images/Kakao_image/gnb1.png);
}

.gnbBox .gnbWrap .gnb .gnbList > li:nth-child(2) button::before {
    background-image: url(../images/Kakao_image/gnb2.png);
}

.gnbBox .gnbWrap .gnb .gnbList > li:nth-child(3) button::before {
    background-image: url(../images/Kakao_image/gnb3.png);
}

.gnbBox .gnbWrap .gnb .gnbList > li:nth-child(4) button::before {
    background-image: url(../images/Kakao_image/gnb4.png);
}

.gnbBox .gnbWrap .gnb .gnbList > li:nth-child(5) button::before {
    background-image: url(../images/Kakao_image/gnb5.png);
}

.gnbBox .gnbWrap .gnb .gnbList > li:nth-child(6) a::before {
    background-image: url(../images/Kakao_image/gnb6.png);
}

.gnbBox .gnbWrap .gnb .gnbList > li:not(:last-child) button::after {
    content: "";
    display: inline-block;
    margin: 24px 0 0 0px;
    border: 5px solid transparent;
    border-top: 5px solid var(--primary-color);
    vertical-align: top;
}

.gnbBox .gnbWrap .gnb .gnbList .subMenu {
    display: none;
    margin-left: 68px;
}

.gnbBox .gnbWrap .gnb .gnbList .subMenu li {
    display: flex;
}

.gnbBox .gnbWrap .gnb .gnbList .subMenu li:first-child {
    padding-top: 22px;
}

.gnbBox .gnbWrap .gnb .gnbList .subMenu li a {
    width: max-content;
    font-size: 18px;
    padding: 18px;
    background-color: #eee;
    border-radius: 30px;
    margin-bottom: 14px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.gnbBox .gnbWrap .gnb .gnbList .subMenu li:last-child a {
    margin-bottom: 0;
}

.gnbBox .gnbWrap .gnbFooter {
    display: flex;
    justify-content: start;
    align-items: center;
}

.gnbBox .gnbWrap .gnbFooter > a,
.gnbBox .gnbWrap .gnbFooter > span {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin-right: 20px;
    position: relative;
}

.gnbBox .gnbWrap .gnbFooter span::after {
    content: "";
    width: 4px;
    height: 4px;
    border-top: 1px solid #121212;
    border-right: 1px solid #121212;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    margin-left: 3px;
}

.gnbBox .gnbWrap .gnbFooter .accountSupport {
    display: none;
    position: absolute;
    left: 0;
    bottom: 30px;
    background-color: #eee;
    border-radius: 12px;
    padding: 16px 0;
    width: max-content;
}

.gnbBox .gnbWrap .gnbFooter .accountSupport.active {
    display: flex;
    flex-direction: column;
}

.gnbBox .gnbWrap .gnbFooter .accountSupport a {
    color: #666;
    font-size: 12px;
    line-height: 24px;
    padding: 0 20px;
    text-decoration: none;
    font-weight: normal;
}

.gnbBox .gnbWrap .gnbFooter .accountSupport a::after {
    content: "↗️";
    color: #999;
    margin-left: 3px;
}

.gnbBox .gnbWrap .gnbFooter .utilWrap {
    margin-left: auto;
}

.gnbBox .gnbWrap .gnbFooter .utilWrap button {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 0;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
}

.gnbBox .gnbWrap .gnbFooter .utilWrap .modeBtn {
    background-image: url(../images/Kakao_image/night.svg);
    margin-right: 12px;
}

.gnbBox .gnbWrap .gnbFooter .utilWrap .languageBtn {
    background-image: url(../images/Kakao_image/english.svg);
}
/* mainBox --------------------------------------------------------- */

.main {
    margin: 92px auto 0;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.main.searched {
    transform: translateY(300px);
}

.main .section1 {
    position: relative;
}

.main .section1 .mainBox {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
}

.main .section1 .mainBox .visualBox {
    display: block;
    position: relative;
    /* overflow-x: hidden; */
    padding: 0;
}

.main .section1 .mainBox .visualBox .mainVideo {
    border-radius: 35px;
    max-height: 808px;
}

.main .section1 .mainBox .visualBox .kakaoMore {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

.main .section1 .mainBox .visualBox .kakaoMore .kakaoMoreBox {
    display: block;
    width: 146px;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    padding: 18px 15px;
    border-radius: 12px;
    position: absolute;
    top: -50px;
    font-size: 13px;
    letter-spacing: -0.3px;
}

.main .section1 .mainBox .visu alBox .kakaoMore:hover .kakaoMoreBox {
    opacity: 1;
}

.main .section1 .mainBox .visualBox .kakaoMore .kakaoMoreBox::after {
    content: "";
    background-image: url(../images/Kakao_image/kakaoSpeechBubble.svg);
    background-size: contain;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 95%;
    left: 20px;
    width: 12px;
    height: 12px;
}

.main .section1 .mainBox .visualBox .kakaoMore button {
    width: 148px;
    height: 102px;
    background: url(../images/Kakao_image/light.gif) center no-repeat;
    background-size: contain;
    border: none;
    background-color: var(--secondary-color);
    background-position: center;
    background-size: 94px 94px;
    border-radius: 0 0 0 35px;
    padding: 2px 27px 11px;
    cursor: pointer;
}

.main .section1 article .mainBox .visualBox .kakaoMore::before {
    width: 35px;
    height: 35px;
    content: "";
    position: absolute;
    top: -2px;
    left: -33px;
    background-image: url(../images/Kakao_image/kakaoRoundTop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main .section1 article .mainBox .visualBox .kakaoMore::after {
    width: 35px;
    height: 35px;
    content: "";
    position: absolute;
    top: 100px;
    right: -2px;
    background-image: url(../images/Kakao_image/kakaoRoundTop.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main .section1 article .mainBox .visualBox .mainMore {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.main .section1 article .mainBox .visualBox .mainMore button {
    width: 300px;
    height: 98px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 0 35px 0 0;
    padding: 46px 2px 30px;
    font-size: 22px;
    cursor: pointer;
}

.main .section1 article .mainBox .visualBox .mainMore::before {
    width: 35px;
    height: 35px;
    content: "";
    position: absolute;
    top: -33px;
    left: -2px;
    background-image: url(../images/Kakao_image/kakaoRoundBottom.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main .section1 article .mainBox .visualBox .mainMore::after {
    width: 35px;
    height: 35px;
    content: "";
    position: absolute;
    top: 61px;
    right: -33px;
    background-image: url(../images/Kakao_image/kakaoRoundBottom.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main .section1 article .mainBox .visualRightBox {
    margin-left: 16px;
}

.visualRight .visualRightList {
    width: 272px;
    border-radius: 25px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.visualSlide {
    display: flex;
    height: 272px;
}

.visualSlide li,
.visualSlide2 li {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
}

.visualRightList1 .circleBtn,
.visualRightList2 .circleBtn {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translate(-50%, -50%);
    display: flex;
}

.visualRightList1 .circleBtn div,
.visualRightList2 .circleBtn div,
.newsBox .newsList .circleBtn div {
    height: 8px;
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
    z-index: 999;
}

.visualRightList1 .circleBtn div.active,
.visualRightList2 .circleBtn div.active,
.newsBox .newsList .circleBtn div.active {
    width: 24px;
    background-color: var(--primary-color);
    opacity: 1;
}

.visualRightList1 .circleBtn div {
    width: 8px;
    border: 1px solid #999;
    background-color: var(--secondary-color);
}

.visualRightList2 .circleBtn div,
.newsBox .newsList .circleBtn div {
    width: 8px;
    background-color: var(--primary-color);
    opacity: 0.4;
}

.visualRightBox .visualRight .visualRightList1 .donation {
    width: 272px;
    height: 272px;
    background-color: #fae100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visualRightBox .visualRight .visualRightList1 .donation .donationAmount {
    display: flex;
    align-items: baseline;
}

.visualRightBox
    .visualRight
    .visualRightList1
    .donation
    .donationAmount
    .counter {
    font-size: 32px;
    line-height: 2rem;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

.visualRightBox .visualRight .visualRightList1 .kakaoimpact a {
    display: inline-block;
    width: 272px;
    height: 272px;
    background-image: url(../images/Kakao_image/impact.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visualRightBox .visualRight .visualRightList2 {
    height: 341px;
    background-color: #f3f3f3;
}

.visualRightBox .visualRight .visualRightList2 .campaign {
    padding: 20px;
}

.visualRightBox .visualRight .visualRightList2 .campaign:first-child .theme {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.visualRightBox .visualRight .visualRightList2 .campaign .theme {
    color: #000;
    font-size: 0.9rem;
    background-color: #fae100;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 0;
}

.visualRightBox .visualRight .visualRightList2 .campaign .subjectTitle {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 15px 0 5px 0;
}

.visualRight .visualRightList.visualRightList3 {
    width: 285px;
    height: 164px;
    margin-bottom: 0px;
    background-color: #fae100;
    overflow: hidden;
    border-radius: 25px 0 0 25px;
    position: relative;
}

.visualRight .visualRightList.visualRightList3::after {
    content: "";
    width: 39px;
    height: 168px;
    position: absolute;
    right: 0;
    bottom: -2px;
    background-image: url(../images/Kakao_image/kakaoSpeechBubbleSide.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    pointer-events: none;
}

.visualRight .visualRightList.visualRightList3 .bgBox {
    border-radius: 24px;
    font-weight: bold;
    position: relative;
}

.visualRight .visualRightList.visualRightList3 .bgBox .visualSlide2 li {
    width: 282px;
    height: 168px;
    display: flex;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.visualRight
    .visualRightList.visualRightList3
    .bgBox
    .visualSlide2
    li:first-child::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-image: url(../images/Kakao_image/kakaogroup.webp);
}

.visualRight
    .visualRightList.visualRightList3
    .bgBox
    .visualSlide2
    li:first-child
    span {
    position: relative;
    top: 25%;
}

.visualRight
    .visualRightList.visualRightList3
    .bgBox
    .visualSlide2
    li:last-child::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-image: url(../images/Kakao_image/연혁.webp);
    filter: brightness(0.8);
}

.visualRight
    .visualRightList.visualRightList3
    .bgBox
    .visualSlide2
    li:last-child
    span {
    position: relative;
    z-index: 99;
    color: #fff;
}

.swpier-wrapper {
    transition-timing-function: linear;
}

.visualRight .visualRightList.visualRightList3 .circleBtn3 {
    width: 272px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.visualRight .visualRightList.visualRightList3 .circleBtn3 button {
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 5px;
    width: 2rem;
    height: 2rem;
    font-weight: bolder;
    position: absolute;
    cursor: pointer;
}

.visualRight .visualRightList.visualRightList3 .circleBtn3 .prev {
    left: 0;
    position: relative;
}

.visualRight .visualRightList.visualRightList3 .circleBtn3 .prev:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: translate(-50%, -50%) rotate(225deg);
    top: 50%;
    left: 50%;
}

.visualRight .visualRightList.visualRightList3 .circleBtn3 .next {
    right: 0;
    position: relative;
    z-index: 99;
}

.visualRight .visualRightList.visualRightList3 .circleBtn3 .next:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
}

/* storyBox --------------------------------------------------------- */

.stotyBox .titleBox {
    display: flex;
    justify-content: space-between;
}

.stotyBox .titleBox .titleArticle {
    display: inline-block;
}

.storyBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image/ico_archives.gif);
}

.storyBox .titleBox .controlBox {
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.storyBox .titleBox .titleArticle .pause,
.storyBox .titleBox .titleArticle .play {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    /* position: absolute; */
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 99;
}

.storyBox .titleBox .titleArticle .pause::before {
    content: "";
    width: 5px;
    height: 14px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translateY(-50%);
}

.storyBox .titleBox .titleArticle .pause::after {
    content: "";
    width: 5px;
    height: 14px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    right: 33%;
    transform: translateY(-50%);
}

.storyBox .titleBox .titleArticle .play::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0px 9px 14px;
    border-color: transparent transparent transparent var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.swiper-container.paused {
    pointer-events: none; /* 슬라이드 이동을 방지 */
}

.storyBox .storyList,
.newsBox .newsList {
    display: flex;
    max-width: 100%;
}

.storyBox .storyList .wide {
    width: 1370px;
    height: 538px;
    padding: 40px 976px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.storyBox .storyList .wide::after {
    position: absolute;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 956px;
    height: 538px;
    top: 0;
    right: 0;
    border-radius: 0 20px 20px 0;
}

.storyBox .storyList .story1::after {
    background-image: url(../images/Kakao_image/story1.webp);
}
.storyBox .storyList .story6::after {
    background-image: url(../images/Kakao_image/story6.webp);
}

.storyBox .storyList li {
    width: 417px;
    height: 538px;
    flex-shrink: 0;
    background-color: #eee;
    border-radius: 20px;
    padding: 40px;
    margin: 0 10px;
    position: relative;
}

.storyBox .storyList .over {
    display: flex;
    padding-top: 274px;
    flex-direction: column;
}

.storyBox .storyList .storyInfo,
.newsBox .newsList .newsInfo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.storyBox .storyList .storyInfo .storyTheme {
    font-size: 0.9rem;
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    margin-left: 32px;
}

.storyBox .storyList .storyInfo .storyTheme::before {
    content: "";
    background-image: url(../images/Kakao_image/icon1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.storyBox .storyList .story2 .storyInfo .storyTheme::before,
.storyBox .storyList .story7 .storyInfo .storyTheme::before {
    background-image: url(../images/Kakao_image/icon2.webp);
}

.storyBox .storyList .story6 .storyInfo .storyTheme::before {
    background-image: url(../images/Kakao_image/icon3.webp);
}

.storyBox .storyList .storyInfo .storyMore,
.newsBox .newsList .newsInfo .newsMore {
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.storyBox .storyList .storyInfo .storyMore div,
.newsBox .newsList .newsInfo .newsMore div {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--primary-color);
    margin: 4px;
}

.storyBox .storyList h4 {
    font-size: 26px;
    margin-bottom: 10px;
}

.storyBox .storyList .comment {
    position: relative;
    line-height: 1.6rem;
}

.storyBox .storyList .keywords {
    margin-top: auto;
    font-size: 16px;
}

.storyBox .storyList .under::after {
    position: absolute;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 417px;
    height: 234px;
    bottom: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
}

.storyBox .storyList .story2::after {
    background-image: url(../images/Kakao_image/story2.webp);
}
.storyBox .storyList .story4::after {
    background-image: url(../images/Kakao_image/story4.webp);
}
.storyBox .storyList .story7::after {
    background-image: url(../images/Kakao_image/story7.webp);
}
.storyBox .storyList .story9::after {
    background-image: url(../images/Kakao_image/story9.webp);
}

.storyBox .storyList .over::before {
    position: absolute;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 417px;
    height: 234px;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
}

.storyBox .storyList .story3::before {
    background-image: url(../images/Kakao_image/story3.webp);
}
.storyBox .storyList .story5::before {
    background-image: url(../images/Kakao_image/story5.webp);
}
.storyBox .storyList .story8::before {
    background-image: url(../images/Kakao_image/story8.webp);
}

/* serviceBox --------------------------------------------------------- */

.serviceBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image2/lamp.gif);
}

.serviceBox .serviceGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.serviceBox .serviceGroup > li {
    width: 848px;
    height: 180px;
    border-radius: 20px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px;
}

.serviceBox .serviceGroup h4 {
    font-size: 28px;
}

.serviceBox .serviceGroup ul {
    display: flex;
    justify-content: flex-end;
    width: 258px;
    gap: 68px;
}

.serviceBox .serviceGroup ul li {
    position: relative;
}

.serviceBox .serviceGroup ul li::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 54px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.serviceBox .serviceGroup .comService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoTalk.png);
}

.serviceBox .serviceGroup .comService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/daum.png);
}

.serviceBox .serviceGroup .comService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/kakaoStory.png);
}

.serviceBox .serviceGroup .comService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .busiService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoChannel.png);
}

.serviceBox .serviceGroup .busiService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/kakaoCloud.png);
}

.serviceBox .serviceGroup .busiService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/agit.png);
}

.serviceBox .serviceGroup .busiService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .cateService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoMap.png);
}

.serviceBox .serviceGroup .cateService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/kakaoTaxi.png);
}

.serviceBox .serviceGroup .cateService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/kakaoBank.png);
}

.serviceBox .serviceGroup .cateService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .shopService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoGift.png);
}

.serviceBox .serviceGroup .shopService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/kakaoShopping.png);
}

.serviceBox .serviceGroup .shopService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/zigzeg.png);
}

.serviceBox .serviceGroup .shopService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .enterService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/kakaoPage.png);
}

.serviceBox .serviceGroup .enterService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/pickoma.png);
}

.serviceBox .serviceGroup .enterService li:nth-child(3)::after {
    background-image: url(../images/Kakao_image2/melon.png);
}

.serviceBox .serviceGroup .enterService li:nth-child(4)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.serviceBox .serviceGroup .socialService li:nth-child(1)::after {
    background-image: url(../images/Kakao_image2/withTogeter.png);
}

.serviceBox .serviceGroup .socialService li:nth-child(2)::after {
    background-image: url(../images/Kakao_image2/plus.svg);
}

.fullBtn {
    display: block;
    margin: auto;
    width: 316px;
    border-radius: 36px;
    border: none;
    background-color: #f3f3f3;
    margin-top: 60px;
    font-size: 22px;
    line-height: 76px;
    text-align: center;
}

/* newsBox --------------------------------------------------------- */

.newsBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image2/calendar.gif);
}

.newsBox .newsList {
    display: flex;
    flex-wrap: wrap;
    width: 1712px;
    justify-content: space-between;
}

.newsBox .newsList > div {
    flex-shrink: 0;
    background-color: #eee;
    padding: 40px;
    position: relative;
}

.newsBox .newsList .news1,
.newsBox .newsList .news2,
.newsBox .newsList .news3 {
    margin-bottom: 60px;
    width: 560px;
    border-radius: 40px;
}

.newsBox .newsList .news4,
.newsBox .newsList .news5 {
    width: 848px;
    margin-bottom: 16px;
    border-radius: 18px;
}

.newsBox .newsList .news6,
.newsBox .newsList .news7,
.newsBox .newsList .news8 {
    width: 560px;
    border-radius: 18px;
}

.newsBox .newsList .newsInfo .newsTheme::before {
    content: "";
    background-image: url(../images/Kakao_image2/trumpet.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 46px;
    height: 46px;
    left: -58px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.newsBox .newsList .newsInfo .newsTheme {
    position: relative;
    color: var(--primary-color);
    font-size: 13px;
    background-color: var(--secondary-color);
    margin-left: 58px;
    padding: 15px 14px;
    border-radius: 7px;
}

.newsBox .newsList .date {
    position: relative;
    margin: auto 0;
    margin-left: 12px;
    font-size: 12px;
}

.newsBox .newsList .news1 h4,
.newsBox .newsList .news2 h4,
.newsBox .newsList .news3 h4 {
    font-size: 30px;
    line-height: 42px;
    height: 210px;
}

.newsBox .newsList .news4 h4,
.newsBox .newsList .news5 h4,
.newsBox .newsList .news6 span:first-child,
.newsBox .newsList .news7 span:first-child,
.newsBox .newsList .news8 span:first-child {
    font-size: 26px;
    font-weight: bold;
}

.newsBox .newsList .news6 a,
.newsBox .newsList .news7 a,
.newsBox .newsList .news8 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
}

.newsBox .newsList .news6 a span:nth-child(2),
.newsBox .newsList .news7 a span:nth-child(2),
.newsBox .newsList .news8 a span:nth-child(2) {
    margin-left: auto;
}

a .blackCircle {
    padding: 0;
    font-size: 12px !important;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.newsBox .newsList .keyword {
    position: relative;
    margin-top: auto;
    font-size: 16px;
    margin-bottom: 309px;
}

.newsBox .newsList .under::after {
    position: absolute;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 560px;
    height: 313px;
    left: 0;
    bottom: 0;
    border-radius: 0 0 20px 20px;
}

.newsBox .newsList .news1::after {
    background-image: url(../images/Kakao_image2/news1.webp);
}

.newsBox .newsList .news2::after {
    background-image: url(../images/Kakao_image2/news2.webp);
}

.newsBox .newsList .news3::after {
    background-image: url(../images/Kakao_image2/news3.webp);
}

.newsBox .newsList .circleBtn {
    display: none;
}

/* esgBox --------------------------------------------------------- */

.esgBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image2/handshake.gif);
}

.esgBox .esgList {
    display: flex;
    justify-content: space-between;
}

.esgBox .esgList li {
    width: 560px;
    position: relative;
}

.esgBox .esgList .esgType {
    width: 282px;
    padding: 2px 2px 16px 16px;
    text-align: center;
    line-height: 58px;
    border-radius: 0 0 0 36px;
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    z-index: 2;
}

.esgBox .esgList .esgType h4 {
    border-radius: 36px;
    outline: 10px solid var(--secondary-color);
}
.esgBox .esgList .esgComment {
    width: 560px;
    height: 668px;
    border-radius: 22px;
    padding: 40px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

.esgBox .esgList .esgComment::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    top: -2px;
    right: 280px;
}

.esgBox .esgList .esgComment::after {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    right: -2px;
    top: 74px;
}

.esgBox .esgList .esgComment p::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    bottom: 76px;
    right: -2px;
    transform: rotate(90deg);
}

.esgBox .esgList .esgComment p::after {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    background-image: url(../images/Kakao_image2/corner.svg);
    bottom: -2px;
    right: 76px;
    transform: rotate(90deg);
}

.esgBox .esgList li .esgComment p {
    font-size: 24px;
    margin-bottom: 6px;
}

.esgBox .esgList .esg1 h4,
.esgBox .esgList .esg1 .esgComment {
    background-color: #89dcff;
}

.esgBox .esgList .esg1 .esgComment {
    background-image: url(../images/Kakao_image2/walkingPeople.gif);
    background-size: 560px;
}

.esgBox .esgList .esg2 h4 {
    background-color: #1ed47e;
}

.esgBox .esgList .esg2 .esgComment {
    background-image: url(../images/Kakao_image2/forest.gif);
    background-size: 360px;
}

.esgBox .esgList .esg2 .esgComment {
    background-color: #03502b;
}

.esgBox .esgList .esg3 h4 {
    background-color: #fae100;
}

.esgBox .esgList .esg3 .esgComment {
    background-image: url(../images/Kakao_image2/heartBlock.gif);
    background-size: 360px;
}

.esgBox .esgList .esg3 .esgComment {
    background-color: #333;
}

.esgBox .esgList li .esgComment + div {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 78px;
    height: 78px;
    border-radius: 37px 0;
}

.esgBox .esgList li .blackCircle {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    text-decoration: none;
    width: 64px;
    height: 64px;
    font-size: 20px;
    outline: 10px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.esgBox .esgList .esg2 .esgComment,
.esgBox .esgList .esg3 .esgComment {
    color: var(--secondary-color);
}

/* helpBox --------------------------------------------------------- */

.helpBox .titleBox .titleArticle::before {
    background-image: url(../images/Kakao_image3/ico_tit_help.gif);
}

.helpBox .helpBoxTop {
    display: flex;
    flex-wrap: wrap;
    width: 1712px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.helpBox .helpBoxTop div {
    width: 560px;
    flex-shrink: 0;
    border-radius: 36px;
}

.helpBox .helpBoxTop .helpCenter {
    display: flex;
    flex-direction: column;
}

.helpBox .helpBoxTop .helpCenter a {
    padding: 40px;
    background-color: #f3f3f3;
    border-radius: 20px;
    height: 161px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
}

.helpBox .helpBoxTop .helpCenter a:last-child {
    margin-bottom: 0;
}

.helpBox .helpBoxTop .helpCenter a strong,
.helpBox .helpBoxBottom a strong {
    font-size: 26px;
}

.helpBox .helpBoxTop .helpCenter a span {
    display: flex;
    gap: 12px;
    align-items: center;
}

.helpBox .helpBoxTop .helpCenter a span::after {
    color: var(--secondary-color);
    content: "↗️";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.helpBox .helpBoxTop .helpCenter a::after {
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    right: 40px;
    top: 30px;
}

.helpBox .helpBoxTop .helpCenter a:first-child::after {
    background-image: url(../images/Kakao_image3/help1.webp);
}
.helpBox .helpBoxTop .helpCenter a:nth-child(2)::after {
    background-image: url(../images/Kakao_image3/help2.webp);
}
.helpBox .helpBoxTop .helpCenter a:nth-child(3)::after {
    background-image: url(../images/Kakao_image3/help3.webp);
}

.helpBox .helpBoxTop .helpSocial {
    width: 560px;
    padding: 40px;
    background-color: #fae100;
    background-image: url(../images/Kakao_image3/img_ryan.png);
    background-size: 266px auto;
    background-position: bottom;
    background-repeat: no-repeat;
}

.helpBox .helpBoxTop .helpRecruit {
    width: 560px;
    padding: 40px;
    background-color: #0073ff;
    background-image: url(../images/Kakao_image3/img_recruit.png);
    background-size: 560px auto;
    background-position: bottom;
    background-repeat: no-repeat;
    color: var(--secondary-color);
}

.helpBox .helpBoxTop .helpSocial p,
.helpBox .helpBoxTop .helpRecruit p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.helpBox .helpBoxTop .helpSocial p + span {
    display: inline-block;
    margin-bottom: 46px;
}

.helpBox .helpBoxTop .helpSocial .socialList {
    display: flex;
    justify-content: space-between;
}

.helpBox .helpBoxTop .helpSocial .socialList a {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: cover;
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(1) a {
    background-image: url(../images/Kakao_image3/icon_ch.png);
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(2) a {
    background-image: url(../images/Kakao_image3/icon_yt.png);
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(3) a {
    background-image: url(../images/Kakao_image3/icon_insta.png);
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(4) a {
    background-image: url(../images/Kakao_image3/icon_fb.png);
}

.helpBox .helpBoxTop .helpSocial .socialList li:nth-child(5) a {
    background-image: url(../images/Kakao_image3/icon_li.png);
}

.helpBox .helpBoxTop .helpRecruit a {
    display: flex;
    gap: 12px;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
}

.helpBox .helpBoxTop .helpRecruit a::after {
    color: var(--primary-color);
    content: "↗️";
    width: 24px;
    height: 24px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.helpBox .helpBoxTop .helpRecruit a:hover::after {
    background-color: rgba(255, 255, 255, 0.7);
}

.helpBox .helpBoxBottom {
    display: flex;
    justify-content: space-between;
}

.helpBox .helpBoxBottom a {
    width: 848px;
    padding: 40px;
    background-color: #f3f3f3;
    border-radius: 20px;
    height: 161px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
}

.helpBox .helpBoxBottom a span {
    display: flex;
    gap: 12px;
    align-items: center;
}

.helpBox .helpBoxBottom a span::after {
    color: var(--secondary-color);
    content: "↗️";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.helpBox .helpBoxBottom a::after {
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    right: 40px;
    top: 30px;
}

.helpBox .helpBoxBottom a:first-child::after {
    background-image: url(../images/Kakao_image3/stock.webp);
}

.helpBox .helpBoxBottom a:last-child::after {
    background-image: url(../images/Kakao_image3/safe.webp);
}

.helpBox .fullBtn {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.helpBox .fullBtn::after {
    font-size: 12px;
    color: var(--secondary-color);
    content: "→";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.footer {
    margin: auto;
    padding: 86px calc(calc(100vw - 1712px) / 2);
    border-top: 1px solid var(--primary-color);
}

.footer .footerServiceBox {
    display: flex;
    margin-bottom: 130px;
}

.footer .footerServiceBox div {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.footer .footerServiceBox .kakaoGroup {
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.footer .footerServiceBox div h3,
.footer .footerServiceBox div strong {
    line-height: 40px;
    display: block;
}

.footer .footerServiceBox div h3 {
    font-size: 26px;
}

.footer .footerServiceBox div strong {
    font-size: 16px;
    margin-top: 34px;
}

.footer .footerServiceBox .kakaoGroup ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.footer .footerServiceBox .todayKakao li:nth-child(2)::after,
.footer .footerServiceBox .kakaoGroup li:not(:nth-child(1))::after,
.footer .footerServiceBox .ir li::after,
.footer .footerServiceBox .accountSupport li::after {
    content: "↗️";
    font-size: 14px;
}

.footer .footerServiceBox div:not(:nth-child(1)) li {
    color: #888;
}

.footer .footerServiceBox a {
    font-size: 12px;
    line-height: 34px;
    color: #888;
    text-decoration: none;
}

.footer .footerServiceBox div:first-child a {
    color: var(--primary-color);
}

.footer .footerRelationBox {
    display: flex;
    margin-bottom: 30px;
}

.footer .footerRelationBox div h3,
.footer .footerRelationBox div a,
.footer > span {
    font-size: 12px;
    color: #888;
    text-decoration: none;
    font-weight: normal;
}

.footer .footerRelationBox div h3:hover,
.footer .footerRelationBox div a:hover,
.footer .footerRelationBox div:nth-child(n + 3):nth-child(-n + 4) h3 {
    color: var(--primary-color);
}

.footer .footerRelationBox button {
    outline: none;
    border: none;
    background-color: transparent;
}

.footer .footerRelationBox div h3 {
    margin-right: 36px;
    position: relative;
    color: var(--primary-color);
}

.footer .footerRelationBox div:nth-child(n + 3):nth-child(-n + 4) h3 {
    font-weight: bold;
}

.footer .footerRelationBox .sub h3::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    transform: translate(5px, 2px) rotate(135deg);
}

.footer .footerRelationBox .site {
    margin-left: auto;
}

.footer .footerRelationBox .site button {
    width: 208px;
    height: 40px;
    border-radius: 20px;
    background-color: #eee;
    padding: 12px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.footer .footerRelationBox .site h3::before,
.footer .footerRelationBox .site h3::after {
    position: absolute;
    content: "";
    width: 0;
    height: 14px;
    border: 1px solid #888;
    display: inline-block;
    background-color: #000;
    right: 0px;
    top: 50%;
    margin-top: -1px;
}

.footer .footerRelationBox .sub {
    position: relative;
}

.footer .footerRelationBox .site h3::before {
    transform: translate(100px, -50%) rotate(0deg);
}

.footer .footerRelationBox .site h3::after {
    transform: translate(100px, -50%) rotate(90deg);
}

.footer .footerRelationBox .sub ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 50px;
    background-color: #eee;
    border-radius: 12px;
    padding: 16px 0;
    width: max-content;
}

.footer .footerRelationBox .site ul {
    width: 208px;
}

.footer .footerRelationBox .sub ul.active {
    display: flex;
    flex-direction: column;
}

.footer .footerRelationBox .sub ul a {
    color: #666;
    font-size: 12px;
    line-height: 24px;
    padding: 0 20px;
}

.footer .footerRelationBox .sub ul a::after {
    content: "↗️";
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-left: 3px;
}

.footer .footerRelationBox .sub:nth-child(4) ul li:nth-child(2) a::after,
.footer .footerRelationBox .sub:nth-child(10) ul li:nth-child(1) a::after {
    content: "";
}
