@charset "UTF-8";
/*아이콘 폰트(폰트어썸) 연결*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
* {
  /*모든 요소 공통*/
  font-family: "Pretendard";
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrap {
  display: block;
  width: 100%;
}

body {
  position: relative;
}

.skip a {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000); /* IE8에서 반투명한 배경 적용 */
  width: 100%;
  height: 30px;
  text-align: center;
  color: #fff;
  z-index: 100;
  line-height: 30px;
  top: -30px;
  opacity: 0;
}

.hide {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.wrap {
  display: block;
  width: 100%;
}

.header {
  max-width: 1400px;
  margin: auto;
}
.header__notice {
  font-size: 14px;
  line-height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__notice::before {
  content: "";
  width: 24px;
  height: 20px;
  background-image: url(../images/header/topicon_nuri.png);
  margin-right: 5px;
}
.header__tnb {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0 calc((100vw - 1400px) / 2);
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.header .tnb__link {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 56px;
  gap: 20px;
}
.header .tnb__util {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .tnb__util a {
  font-size: 14px;
  color: #555;
}
.header .tnb__util a i {
  font-size: 20px;
  margin: 0 6px;
}
.header .link__call {
  width: 105px;
  height: 30px;
  background-image: url(../images/header/callcenter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105px auto;
}
.header .link__council {
  width: 142px;
  height: 30px;
  background-image: url(../images/header/council.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 142px auto;
}
.header .link__familySite a {
  color: #222;
}
.header .familySite > a {
  font-size: 14px;
  color: #222222;
  width: 125px;
  height: 36px;
  background-color: #f1f1f1;
  padding: 9px 11px;
  border-radius: 15px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.header .familySite > a i {
  font-size: 18px;
}
.header .familySite__list {
  display: none;
}
.header .lang {
  display: flex;
  align-items: center;
}
.header .lang__list {
  display: none;
}
.header__sns {
  display: flex;
  margin-left: 32px;
}
.header__snsList {
  display: flex;
  gap: 10px;
}
.header__snsList a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/header/sns_sprite.png);
  background-size: cover;
  border-radius: 50%;
}
.header__snsList--instagram {
  background-position: 0 0;
}
.header__snsList--facebook {
  background-position: -32px 0;
}
.header__snsList--youtube {
  background-position: -96px 0;
}
.header__snsList--kakaoStory {
  background-position: -128px 0;
}
.header__snsList--naverBlog {
  background-position: -160px 0;
}
.header__snsList--kakaoChannel {
  background-position: -192px 0;
}
.header__gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo a {
  display: inline-block;
  height: 64px;
}
.header__nav {
  height: 100px;
  line-height: 100px;
  margin-right: 60px;
}
.header__nav__list {
  display: flex;
  gap: 60px;
  justify-content: flex-end;
}
.header__nav__list__item a {
  font-size: 20px;
  font-weight: 600;
  color: #313131;
  padding: 40px 0;
}
.header__nav__list__item i {
  margin-left: 10px;
}
.header__nav__list__item--sub {
  display: none;
}
.header__nav__list__item--ham {
  margin: 40px 0;
  position: relative;
}
.header__nav__list__item--ham a {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #313131;
  display: inline-block;
  margin: 11px 0;
}
.header__nav__list__item--ham::before, .header__nav__list__item--ham::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #313131;
}
.header__nav__list__item--ham::before {
  top: 0;
}
.header__nav__list__item--ham::after {
  bottom: -4px;
}

section {
  width: 1400px;
  margin: auto;
}

.search {
  background-color: #f8f9ff;
  border-radius: 15px;
}
.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  padding: 15px 40px;
}
.search__weather__list {
  display: flex;
  gap: 30px;
}
.search__weather__item {
  color: #4670c0;
  display: flex;
  flex-direction: row;
}
.search__weather__item i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #d1e0ff;
}
.search__weather__item p {
  margin-left: 10px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: bold;
}
.search__weather__item--small {
  font-size: 12px;
  font-weight: 400;
}
.search__search {
  position: relative;
}
.search__search--form fieldset {
  display: flex;
  padding: 0;
  border: none;
  height: 50px;
  gap: 3px;
}
.search__search input {
  border: #3e72fc solid 2px;
  border-radius: 10px;
}
.search__search__txt {
  width: 410px;
  font-size: 18px;
  padding: 18px;
}
.search__search__submit {
  width: 50px;
  height: 50px;
  background: #3e72fc url(../images/icon_sch.svg) no-repeat center;
  background-size: 20px 20px;
  color: transparent;
}
.search__search span {
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 70px;
  color: #0a115f;
  background-color: #d0eaf7;
  border-radius: 5px;
  padding: 5px;
  transform: translateY(-50%);
}
.search__quick__list {
  display: flex;
  gap: 38px;
}
.search__quick__list a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.search__quick__list span {
  color: #222222;
  font-size: 12px;
}
.search__quick__icon {
  display: inline-block;
  background-image: url(../images/icon_quick01_2024.jpg);
  background-size: auto 50px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #d1d5e8;
  margin-bottom: 10px;
}
.search__quick__icon--1 {
  background-position: 112px 0;
}
.search__quick__icon--2 {
  background-position: 59px 0;
}
.search__quick__icon--3 {
  background-position: 268px 0;
}
.search__quick__icon--4 {
  background-position: 216px 0;
}
.search__quick__icon--5 {
  background-position: 166px 0;
}

.main-banner {
  display: flex;
}/*# sourceMappingURL=common.css.map */