.header {
  margin: auto;
  width: 980px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.header .logo {
  width: 122px;
  height: 31px;
  background-image: url(../images/header/logo.png);
}
.header .gnb {
  display: flex;
  gap: 6px;
  position: relative;
}
.header .gnb button {
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  background-size: auto 30px;
  text-align: center;
}
.header .gnb button span {
  margin-left: 12px;
}
.header .gnb button.login {
  width: 80px;
  color: var(--white);
  background-image: url(../images/header/gnb_member_re1121.png);
}
.header .gnb button.certifi {
  width: 98px;
  color: var(--black);
  background-image: url(../images/header/gnb_cert_re1203.png);
}
.header .gnb .loginSub, .header .gnb .certifiSub {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 9;
  width: 134px;
  height: 45px;
  background-image: url(../images/header/intro_login_Indivual_bg.png);
  justify-content: space-around;
  align-items: center;
}
.header .gnb .loginSub li, .header .gnb .certifiSub li {
  padding: 5px 10px;
}
.header .gnb .loginSub {
  left: 0;
}
.header .gnb .loginSub a {
  color: #0082cd;
}
.header .gnb .loginSub li:hover {
  background-color: #008cdF;
  border-radius: 3px;
}
.header .gnb .loginSub li:hover a {
  color: var(--white);
}
.header .gnb .certifiSub {
  left: 86px;
}
.header a {
  color: var(--black);
}
.header .nav .mainMenu {
  display: flex;
  gap: 20px;
  position: relative;
}
.header .nav .mainMenu li:hover .menuBox {
  display: flex;
  flex-direction: column;
}
.header .nav .mainMenu a {
  font-size: 15px;
}
.header .nav .mainMenu .menuBox {
  display: none;
  position: absolute;
  z-index: 9;
  background-color: #fff;
  border: 1px solid var(--black);
  padding: 20px 30px;
}
.header .nav .mainMenu .menuBox .subMenu {
  width: 150px;
  border-top: 3px solid var(--black);
}
.header .nav .mainMenu .menuBox .subMenu a {
  font-size: 13px;
}
.header .nav .mainMenu .menuBox .subMenu a:hover {
  text-decoration: underline;
  color: #0082cd;
}
.header .gnb2 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .gnb2 a {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}
.header .gnb2 div {
  position: relative;
}
.header .gnb2 div:hover .menuBox {
  display: flex;
  flex-direction: column;
}
.header .gnb2 .menuBox {
  display: none;
  position: absolute;
  z-index: 9;
  background-color: #fff;
  border: 1px solid var(--black);
  padding: 10px;
}
.header .gnb2 .menuBox .subMenu {
  width: 200px;
  border-top: 3px solid var(--black);
}
.header .gnb2 .menuBox .subMenu a {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #555;
}
.header .gnb2 .menuBox .subMenu a:before {
  content: "";
  width: 24px;
  height: 19px;
}
.header .gnb2 .menuBox .subMenu li:nth-child(1) a:before {
  background-image: url(../images/header/flag_us.gif);
}
.header .gnb2 .menuBox .subMenu li:nth-child(2) a:before {
  background-image: url(../images/header/flag_china.gif);
}
.header .gnb2 .menuBox .subMenu li:nth-child(3) a:before {
  background-image: url(../images/header/flag_japan.gif);
}
.header .gnb2 .menuBox .subMenu li:nth-child(4) a:before {
  background-image: url(../images/header/flag_philippines.gif);
}
.header .gnb2 .menuBox .subMenu li:nth-child(5) a:before {
  background-image: url(../images/header/flag_vietnam.gif);
}
.header .gnb2 .menuBox .subMenu li:nth-child(6) a:before {
  background-image: url(../images/header/flag_mongolia.gif);
}
.header .gnb2 .search {
  width: 30px;
  height: 30px;
  background-image: url(../images/header/upper_search_icon_new.png);
}

.main .sliderbox {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #f9f3ff;
  position: relative;
}
.main .sliderbox .swiper-wrapper {
  display: flex;
}
.main .sliderbox .swiper-wrapper .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .sliderbox .swiper-wrapper .swiper-slide img {
  display: block;
  margin: auto;
  height: 520px;
}
.main .sliderbox .sliderCtr {
  position: absolute;
  z-index: 9;
  bottom: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
}
.main .sliderbox .sliderCtr .control {
  display: flex;
  gap: 20px;
}
.main .sliderbox .sliderCtr .control .play {
  width: 10px;
  height: 14px;
  background-image: url(../images/slides_btn_play_new0919.png);
  background-repeat: no-repeat;
}
.main .sliderbox .sliderCtr .control .pause {
  width: 10px;
  height: 14px;
  background-image: url(../images/slides_btn_pause_new0919.png);
}
.main .sliderbox .sliderCtr .control .prev {
  width: 10px;
  height: 14px;
  background-image: url(../images/slides_btn_previous_new0924.png);
  background-size: cover;
}
.main .sliderbox .sliderCtr .control .next {
  width: 10px;
  height: 14px;
  background-image: url(../images/slides_btn_next_new0924.png);
  background-size: cover;
}
.main .sliderbox .sliderCtr .pagination {
  display: flex;
  gap: 13px;
}
.main .sliderbox .sliderCtr .pagination li {
  width: 8px;
  height: 8px;
  background-color: var(--black);
  border-radius: 50%;
}
.main .midMenu {
  position: relative;
  z-index: 9;
}
.main .midMenu .quickMenu {
  display: flex;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 38px;
  box-shadow: 0px 3px 10px #999;
  overflow: hidden;
}
.main .midMenu .quickMenu .menu.active {
  display: flex;
}
.main .midMenu .quickMenu .menu:not(.active) {
  display: none !important;
}
.main .midMenu .quickMenu .menu.default li a {
  background-color: #3a8dfd;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.main .midMenu .quickMenu .menu.default li a, .main .midMenu .quickMenu .menu.default li button {
  font-size: 21px;
  font-weight: bold;
}
.main .midMenu .quickMenu .menu.default li a {
  width: 144px;
}
.main .midMenu .quickMenu .menu.default li:first-child a {
  width: 170px;
  background-color: #0082cd;
}
.main .midMenu .quickMenu .menu.default li:last-child {
  background-color: #fff;
  color: var(--black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
}
.main .midMenu .quickMenu .menu.default li:last-child::after {
  content: "";
  width: 12px;
  height: 22px;
  background-image: url(../images/btn_q_arrow20200618.png);
}
.main .midMenu .quickMenu .menu:not(.default) {
  height: 78px;
  width: 597px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--white);
}
.main .midMenu .quickMenu .menu:not(.default) li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.main .midMenu .quickMenu .menu:not(.default) li button {
  font-size: 21px;
  font-weight: bold;
}
.main .midMenu .quickMenu .menu:not(.default) li a {
  width: 144px;
  font-size: 21px;
}
.main .midMenu .quickMenu .menu:not(.default) li:first-child {
  background-color: #fff;
  color: var(--black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  flex-shrink: 0;
}
.main .midMenu .quickMenu .menu:not(.default) li:first-child button {
  height: 78px;
}
.main .midMenu .quickMenu .menu:not(.default) li:first-child::before {
  content: "";
  width: 12px;
  height: 22px;
  background-image: url(../images/btn_q_arrow20200618.png);
  transform: rotate(180deg);
}
.main .midMenu .addMenu {
  display: flex;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 30px;
}
.main .midMenu .addMenu a {
  font-weight: bold;
  color: #7e7e7e;
}
.main section {
  width: 980px;
  margin: auto;
  margin-bottom: 30px;
}
.main section h4 {
  font-size: 21px;
  margin-bottom: 24px;
}
.main .section1 {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.main .section1 div ul {
  display: flex;
}
.main .section1 ul li {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
}
.main .section1 ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
}
.main .section1 ul li a::before {
  content: "";
  width: 56px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 44px;
}
.main .section1 ul li:hover {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #3a8dfd;
}
.main .section1 ul li:hover a {
  color: var(--white);
}
.main .section1 .sectionLeft {
  position: relative;
  margin-bottom: 38px;
}
.main .section1 .sectionLeft li:nth-child(1) a::before {
  background-image: url(../images/icon_set_011.png);
}
.main .section1 .sectionLeft li:nth-child(1):hover a::before {
  background-image: url(../images/icon_set_011_over.png);
}
.main .section1 .sectionLeft li:nth-child(2) a::before {
  background-image: url(../images/icon_set_022.png);
}
.main .section1 .sectionLeft li:nth-child(2):hover a::before {
  background-image: url(../images/icon_set_022_over.png);
}
.main .section1 .sectionLeft li:nth-child(3) a::before {
  background-image: url(../images/icon_set_033.png);
}
.main .section1 .sectionLeft li:nth-child(3):hover a::before {
  background-image: url(../images/icon_set_033_over.png);
}
.main .section1 .sectionLeft li:nth-child(4) a::before {
  background-image: url(../images/icon_set_044.png);
}
.main .section1 .sectionLeft li:nth-child(4):hover a::before {
  background-image: url(../images/icon_set_044_over.png);
}
.main .section1 .sectionLeft li:nth-child(5) a::before {
  background-image: url(../images/icon_set_055.png);
}
.main .section1 .sectionLeft li:nth-child(5):hover a::before {
  background-image: url(../images/icon_set_055_over.png);
}
.main .section1 .sectionLeft li:nth-child(6) a::before {
  background-image: url(../images/icon_set_066.png);
}
.main .section1 .sectionLeft li:nth-child(6):hover a::before {
  background-image: url(../images/icon_set_066_over.png);
}
.main .section1 .sectionLeft li:nth-child(7) a::before {
  background-image: url(../images/icon_set_077.png);
}
.main .section1 .sectionLeft li:nth-child(7):hover a::before {
  background-image: url(../images/icon_set_077_over.png);
}
.main .section1 .sectionLeft li:nth-child(8) a::before {
  background-image: url(../images/icon_set_088.png);
}
.main .section1 .sectionLeft li:nth-child(8):hover a::before {
  background-image: url(../images/icon_set_088_over.png);
}
.main .section1 .sectionLeft::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 88px;
  top: 66%;
  right: -7px;
  transform: translate(-50%, -50%);
  background-color: #e9f2ff;
}
.main .section1 .sectionRight li:nth-child(1) a::before {
  background-image: url(../images/icon_set_099.png);
}
.main .section1 .sectionRight li:nth-child(1):hover a::before {
  background-image: url(../images/icon_set_099_over.png);
}
.main .section1 .sectionRight li:nth-child(2) a::before {
  background-image: url(../images/icon_set_01010.png);
}
.main .section1 .sectionRight li:nth-child(2):hover a::before {
  background-image: url(../images/icon_set_01010_over.png);
}
.main .section1 .sectionRight li:nth-child(3) a::before {
  background-image: url(../images/icon_set_01111.png);
}
.main .section1 .sectionRight li:nth-child(3):hover a::before {
  background-image: url(../images/icon_set_01111_over.png);
}
.main .section2 ul {
  display: flex;
  justify-content: space-between;
}
.main .section2 ul li {
  width: 306px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.main .section2 ul li h5 {
  font-size: 19px;
  color: #555;
  margin: 10px 0;
}
.main .section2 ul li span {
  margin-bottom: 11px;
}
.main .section2 ul li::before {
  content: "";
  width: 304px;
  height: 200px;
}
.main .section2 ul li:nth-child(1)::before {
  background-image: url(../images/image_service_01.png);
}
.main .section2 ul li:nth-child(2)::before {
  background-image: url(../images/image_service_02.png);
}
.main .section2 ul li:nth-child(3)::before {
  background-image: url(../images/image_service_03.png);
}
.main .section3 {
  display: flex;
  justify-content: center;
  background-color: #f4f7fa;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 50px;
}
.main .section3 h6 {
  font-size: 18px;
}
.main .section3 div {
  width: 458px;
  padding: 40px 0 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
}
.main .section3 div h6, .main .section3 div h6 + a {
  width: 80px;
  color: var(--black);
  position: relative;
}
.main .section3 div h6 + a::after {
  content: "";
  width: 20px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background-image: url(../images/arrow_link.png);
  background-repeat: no-repeat;
  background-size: auto 12px;
}
.main .section3 div ul {
  height: 90px;
}
.main .section3 div li {
  display: flex;
  font-size: 15px;
  align-items: center;
}
.main .section3 div li a {
  color: var(--black);
}
.main .section3 div li a:hover {
  text-decoration: underline;
  color: #0082cd;
}
.main .section3 div li span {
  margin-left: auto;
  font-size: 11px;
  color: #555;
}
.main .section3 .noticeLeft {
  margin-right: 45px;
}

.footer {
  border-top: 1px solid #e6e6e6;
}
.footer .footerLink {
  padding: 10px calc((100vw - 980px) / 2);
  display: flex;
  border-top: 2px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.footer .footerLink .linkList {
  display: flex;
}
.footer .footerLink .linkList div {
  display: none;
}
.footer .footerLink .snsList {
  margin-left: auto;
  display: flex;
  gap: 5px;
}
.footer .footerLink .snsList li {
  width: 22px;
  height: 22px;
}
.footer .footerLink .snsList li:nth-child(1) {
  background-image: url(../images/footer/icon_facebook_gray.png);
}
.footer .footerLink .snsList li:nth-child(2) {
  background-image: url(../images/footer/icon_instagram_gray.png);
}
.footer .footerLink .snsList li:nth-child(3) {
  background-image: url(../images/footer/icon_post_naver_gray.png);
}
.footer .footerLink .snsList li:nth-child(4) {
  background-image: url(../images/footer/icon_youtube_gray.png);
}
.footer .footerLink .snsList li:nth-child(5) {
  background-image: url(../images/footer/icon_navertv_gray.png);
}/*# sourceMappingURL=global.css.map */