@charset "UTF-8";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

* {
    /*모든 요소 공통*/
    font-family: "Pretendard";
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    background: linear-gradient(#fafafa 95%, #eee 100%);
    display: flex;
    align-items: center;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.hide {
    width: 1px;
    height: 1px;
    position: absolute;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.wrap {
    width: 100%;
    display: block;
    background-color: #fafafa;
}

.header {
    &__nav {
        transform: translateY(-30px);
    }

    &__logo {
        text-align: left;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 80px;
        text-shadow: 0 0 3px rgba(0,0,0,0.3);
    }

    &__nav {
        &-list {
            width: 700px;
            margin: auto;
            display: flex;
            justify-content: space-between;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-link {
            display: inline-block;
            width: 150px;
            height: 150px;
            border-radius: 24px;
            background: #fafafa;
            box-shadow:  4px 4px 12px #d5d5d5,
                        -4px -4px 12px #ffffff;
            margin-bottom: 10px;
            overflow: hidden;
            border: 0;
            outline: 0;

            :active {
                border-radius: 24px;
                background: linear-gradient(145deg, #e1e1e1, #ffffff);
                color: #666;
                box-shadow: inset 4px 4px 12px #c5c5c5, 
                            inset -4px -4px 12px #ffffff;
            }

            img {
                display: block;
                width: 100%;
                border: 0;
                outline: 0;
                border-radius: 15px;
            }
        }
    }
}

.main {
    
    &__title {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: 2px solid #222;
    }

    &__profile {
        &__text {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-gap: 1rem;
            font-size: 20px;
            line-height: 30px;
            align-items: center;

            img {
                width: 100%;
                display: block;
            }
        }

        &__modal {
            display: none;
            position: fixed; top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0,0,0,0.6);

            backdrop-filter: blur(3px);
        }

        &__modalbox {
            height: 66vh;
            display: flex;
            width: 95%; max-width: calc(1200px + 8rem);
            background: #fff;
            padding: 2rem;
            padding-bottom: 3rem;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
        
        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 1200px;
            grid-gap: 2rem;

            li:nth-child(1) {
                display: flex;
                flex-direction: column;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

}