@charset "UTF-8";
* {
  /*모든 요소 공통*/
  font-family: "Pretendard";
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  background: linear-gradient(#fafafa 95%, #eee 100%);
  display: flex;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.hide {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.header__nav {
  transform: translateY(-30px);
}
.header__logo {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 80px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.header__nav-list {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header__nav-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__nav-link {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 24px;
  background: #fafafa;
  box-shadow: 4px 4px 12px #d5d5d5, -4px -4px 12px #ffffff;
  margin-bottom: 10px;
  overflow: hidden;
  border: 0;
  outline: 0;
}
.header__nav-link :active {
  border-radius: 24px;
  background: linear-gradient(145deg, #e1e1e1, #ffffff);
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.header__nav-link img {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 15px;
}

.main__title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #222;
  margin-bottom: 15px;
}
.main .profile__text {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  align-items: center;
}
.main .profile__text img {
  width: 100%;
  display: block;
}
.main .profile__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.main .profile__modalbox {
  height: 66vh;
  display: flex;
  width: 95%;
  max-width: calc(1200px + 8rem);
  background: #fff;
  padding: 2rem;
  padding-bottom: 3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .profile__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  width: 1200px;
  padding: 50px;
  gap: 15px;
}
.main .profile__item {
  line-height: 1.6rem;
}
.main .profile__item h3 {
  font-weight: bold;
  border-bottom: 1px solid #222;
  margin-bottom: 15px;
}
.main .profile__name {
  font-weight: bold;
  text-align: center;
}
.main .profile__item:nth-child(1) {
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/3;
}
.main .profile__item:nth-child(1) img {
  margin: 0 auto;
  display: block;
  width: 100%;
}
.main .profile__item:nth-child(1) fieldset {
  border: 0;
  display: flex;
  padding: 0 25px;
}
.main .profile__item:nth-child(1) input {
  font-size: 1rem;
  width: 160px;
  border: 0;
}
.main .profile__item:nth-child(1) button {
  margin-left: auto;
  border: 0;
  background-color: transparent;
}
.main .profile__item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.main .profile__item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.main .profile [class$=__date] {
  color: #666;
  font-size: 0.7rem;
  margin-right: 5px;
}
.main .profile__profile-close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #222;
  position: absolute;
  top: 0;
  right: -50px;
  transform: translate(-50%, -50%);
}
.main .profile__profile-close ::before, .main .profile__profile-close ::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.main .profile__profile-close ::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.main .profile__profile-close ::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.main .portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main .portfolio__list a {
  color: #222;
}
.main .portfolio__thumb {
  display: block;
  width: 100%;
}
.main .info__subtitle {
  font-size: 14px;
  background-color: #ace;
  border-radius: 3px;
  padding: 3px 5px;
  line-height: 30px;
}
.main .info__title {
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */